language: node_js
node_js:
- node
cache: npm
script: npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  on:
    branch: master
  token:
    secure: sdOP0dqYGgDIl1tbgZWssXh+kCzvZf+IupMo+eGA7Q1AtbVCwxSxMXActkoSksiJP+nlCfOIjJ4+fp0DTag48VTyDNKud9Bk5i1BqpmFE/sd80zDpLZmNRKknSCULM7GKPe4BjnOhluolEy+6CfW/F1Ax4kbZoqGUzvMsIAGUGl1GzPqpQdVh5JRm3/eBokqGYh+Dk3KlvxZ5S3P+rI3t7rQb+RR5RhL4E5xTH2ECMqeN+/aRrGo2HqR8kKAoTZJ9ymMkyUADGMry9JJztYFFjyo9gezF0P5T7tGL+EBg0XtI+HUW97uynWfPURJf015NB9y5LDiZ45BcWhTG4w94Qz7z1XbzK+EteAvh5yZY4QLgsIVrjUx16JbRaciGVAn47f6mEtriv7xEIFByQHH852d2oC0xhWGl0N61oac8oOshRgtwAZbOP4JQlHeZDp5QHD4S/CU8XKsNwBqvBLYKDnm2Khn7VoDu7/54N4Y8xJUXPVtl/ienBkWevDuW15EbZH6zmCSuA/PGp92fL0oQbbWu/pz615z3ih7zuyk+fh/roypo/F45u9ndML1t+pOZQwH6Vm0Cd/gLO8L6rNPVeSOkxn1N6zySn0h98oMl5bscNd4/c0TxmuG2HOC7gdbsiZ59BQPEluAiflUIqgfCfeTci52WDpoItKhN+Z9Ol8=
env:
  global:
    secure: lHtDS3O68hR9UBHRhLn6akUxX8fK8tljrrn1wRt5k1PSTI/zQP1RrSv7V/mDvqFtHLyVkpuYGn+6S6zTwhqBfYMe47vPmwoxBsDmC+kOOTZXbGqtN56tOZJE0Vi/weB723+LbaDFDKOo/daIWkGcY/Gk0fjibaTCgITn8qepBgwggpf4G/syHA5m4DQzk9jQNA3ALs8bZvikjNpQFyJN4JIP3SW1YZYZU3yfXepJJh4a/NFI00qdtLT8CMkzaTZelZIBoB9Z+9w4f8rsCWFV6il8eDH9ISjzNdemslV17Lh9mN8+bISpZM7ppxzDtk0FWK51464buAMdou4H1VOS8T27Z82Pb3GzOXbMdMrlpJ/Ku/eyIDFDL50Kb1h4LHuu/g26HoS36ApHRpENrlyHvNMsOQA85/eCvRBuwBLA4OXnaUNa0089G90P1/uKXTOCa8nXHJkPRTBHUG61o/tE2BnlQMIaWl9YJ8bwH+/MOmbRqA28Aja9bMgrDKSALZb+3aXKkgt6Z3/lJgw3K7o7OfTn9nqj6pB4BHbc9Wda2wV2nanvSLu7KMsc4q7r/BryLNVgWbBQJlYE8c5TMM5PBgBrSbIuYa7/pJz5Fw6Jh3a0UazQPz4mQ9qoU0Pp4KbWePr+/Jqcv/DqRVaHPHwGnQgcYOrVxpgO16vZi6pAAA4=
