language: node_js
node_js:
- node
cache: npm
script: npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  on:
    branch: master
env:
  global:
    secure: G/QZX9zVxYaRRabThWDRhFWwflXpSbGTYLk5Iu6W31tCu+9BGOgL/m1vkaFT8BB934LDzLgpvU/5zd8X8JJuQbNfmT6NnaOXIyciXxqNnKbPMbEclmYWcL2pqqGJvknU3n31VZzhY5OSPDOdC5nJ/DTlOqNWrp6fd0c3BvtMcgizRexqAp8rFb2dSCcJsuLlxbNOoyfB/zWTsPYqOSdzFUDxAW4G5mQDD0NdmnucwLZ/omxUNXfzN3DBeZwURC4RFuBfyBSKLb8N+ldw76sHh0FNukD9a768/QwsKjoLn8ZHUp3sXnmhJHQDX1WUhrecn2ZTzhFl7xc2Xp7MA0kUHTL9IR/YbZn9QWKE6xXcvgQehhJZmlXsQWqJvHknOp4ONsNIhtuTj+mZ4B8g7hDws+sP+8ZzKCZ9hkm75TPKvup5g9Rr5oN73LlCvIdp3/q/8g+967Z1155P5iid4x5XKu0IEK8J/lZ3gaq8+Xj9Tdl+4y9Jo2WEy3wpzee7H0wajTTOTVMHVyZBGEUOxgWqxdnTt66iUq0HBP+BVAZJAE6onRljIEBwGWSmLee0LskO6BwDlJULSz3HuY+FADatAHIolLCZM2Os7+891S/9BwKRAWlcczHGtrQM+mzbhnsiyovyoUbZbHZekIWw4BInEt0O97do2Uk3JTQdhJrq1sA=
