language: node_js
node_js:
- node
cache: npm
script: npm run build
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  on:
    branch: master
  token:
    secure: UJ9Np2APC8FP30XrmUWXDYIakOXCzvqAQb9XsuNvxXNmR4+Rwz6Of6XcXVYfeMieYkeUkreuLmAOlsp1BCK2sAc3NwjUbUpN/744AHDbkPeDp2k1gHkvHOmvU5Pq/VuLxdpTIWR0507unoDbJ81ACA8FhoiQ0midgak3n3oTPx8/gxpOjhwCc2E5RVDKScgfpaIj+6jfay+O2L61AKujp2j0yXn3VY+39sufK6zRsHKztCglbvjdwy3GrIdfMVVMVIR8pzF3SwkV4QS67kPF5Eqsv9zpzVM+KtRI1HgQbETdoTxqTyp9nug/oVr/DIIimSUEHkMA4YP356CeJpdv5EEonkY8IBT8VTb2fVU3LwbTWswFLP4PawtWM0TTtJap0S4LgSXYunVM+gaZn3DVZUL4SIL9+QL5QLLXxmXMM0qO+Y/awrI7kWXgbaYjFil23y8iRDu7EL2M0PJwo0TswgVob79SRtX0LOeW76zKbGXj7W2j9tyZUNihUhW7sctb1WLmymPpCtOkahnSUD0oh3fEIC0nodQ/20tysG4mmoOHHkbrZD5TeU+rb5ruwugtB4xUP6nHij5ARCay6YLp/uS7Dd4/I+hiqzj8eddr65tYY3YnClEt14rOL5euBvtUZ+eh3jf+uvhtsx1Cjq1SxcPceLiKa03Tida1H4ybDV8=
